body {
  background-color: #111;
  color: #eee;
  font: Helvetica, Arial, sans-serif;
  padding: 0;
  text-align: center;
}

#container {
  text-align: left;
  margin: 60px auto;
  width: 300px;
}

h1 {
  font-size: 100px;
  margin: 0;
}
h1 span.rb {
  color: #f00;
}

h2 {
  margin: 0;
  font-size: 12px;
  color: #555;
}
